<!--PROMOTIONS AREA-->
<section class="promotions-area section-padding">
  <div class="promotion-area-bg" style="background-image: url('{{ background_image }}');"></div>
  <div class="container wow fadeIn">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="area-title text-center">
          <h2>{{ pre_title }}</h2>
          <h3>{{ title }}</h3>
        </div>
      </div>
    </div>
    <div class="row">
      {% for item in items %}
      <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
        <div class="single-promotions text-center">
          <div class="promotions-img">
            <img src="{{ item.image.src }}" alt="{{ item.image.alt }}">
            <div class="pakage-rate">
              <p>From <span>{{ item.cost }}</span></p>
            </div>
          </div>
          <div class="promotions-details">
            <h4>{{ item.title }}</h4>
            <a href="#{{ item.promo_code }}" class="read-more">Order now</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!--PROMOTIONS AREA END-->